.background {
    background-color: rgba(229, 84, 115, 0.10);
}

.header-display {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}

.header-text {
    margin-top: 100px;
}

.button {
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 15px;
}

.featured {
    margin-top: 178px;
    text-align: center;
}

.flower {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

}

.flower-a {
    background-color: rgba(167, 33, 98, 0.15);
    border: 1px solid black;
    border-radius: 300px 300px 0px 0px;
    width: 310px;
    height: 428px;
}

.delivery {
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 20px;
    margin-top: 50px;
}

.text-flower {
    text-align: center;
}

.latest-deal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./../Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 1080px;
    height: 300px;

}

.deal-text {
    text-align: center;
    /* margin-top: 150px;
    margin-left: 300px; */
}


.input {
    border-radius: 5px;
    width: 500px;
    height: 30px;
    
}

.deal-section {
    margin-top: 100px;
    margin-left: 200px;

}

.flower-inst {
    background-color: rgba(167, 33, 98, 0.15);
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.footer-text{
    text-align: center;
    color: white;
    padding: 50px;
    margin-top: 50px;

}

.footer-back{
    background-color: black;
}

.text-color{
    color: red;
}

.hotdeal{
    margin-top: 100px;
    background-color:bisque;
}
